In [1]:
import sys
from pathlib import Path

notebook_path = Path.cwd()
project_root_path = notebook_path.parent
sys.path.append(str(project_root_path))

In [2]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from predict_house_value.config.config import FilePathConstants
from predict_house_value.preprocess.preprocess_data import prepare_data_to_train, preprocess_data, write_processed_data
from predict_house_value.train.train_model import train_model, save_model
from predict_house_value.prediction.prediction import load_regressor_model, predict

## Prepare Data

In [3]:
raw_df = pd.read_csv(FilePathConstants.RAW_DATA_PATH / 'housing.csv', na_values=['Null'])

In [4]:
raw_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,agency
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,YES
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,YES
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,YES
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,YES
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,YES
...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,YES
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,YES
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,YES
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,YES
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,YES

In [5]:
preprocessed_data = preprocess_data(raw_df)

In [6]:
preprocessed_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,agency,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,YES,0,0,0,1,0
1,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,YES,0,0,0,1,0
2,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,YES,0,0,0,1,0
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,YES,0,0,0,1,0
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,YES,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20634,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,YES,0,1,0,0,0
20635,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,YES,0,1,0,0,0
20636,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,YES,0,1,0,0,0
20637,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,YES,0,1,0,0,0
20638,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,YES,0,1,0,0,0

In [7]:
x_training_data, x_test_data, y_training_data, y_test_data = prepare_data_to_train(preprocessed_data)

In [8]:
x_training_data, x_test_data, y_training_data, y_test_data

(       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
 15627    -122.40     37.80                52.0       2094.0           568.0
 19881    -119.24     36.33                 9.0       3289.0           621.0
 3882     -118.52     34.22                35.0       1620.0           272.0
 19289    -122.84     38.42                29.0       2756.0           551.0
 872      -122.02     37.56                35.0       1716.0           312.0
 ...          ...       ...                 ...          ...             ...
 16488    -121.18     38.07                21.0       2333.0           377.0
 80       -122.27     37.81                52.0        210.0            56.0
 12261    -116.95     33.78                24.0       3409.0           804.0
 14308    -117.13     32.71                35.0        614.0           180.0
 5725     -118.22     34.19                31.0       4704.0           920.0

        population  households  median_income  ocean_proximity_<1H OCEAN  \
 15627       920.0       503.0         4.2015                          0
 19881      1866.0       631.0         3.1599                          0
 3882       1052.0       248.0         5.5209                          1
 19289      1381.0       531.0         2.9625                          1
 872         914.0       316.0         5.5737                          0
 ...           ...         ...            ...                        ...
 16488      1073.0       332.0         4.8125                          0
 80          183.0        56.0         1.1667                          0
 12261      1939.0       739.0         1.7303                          0
 14308       691.0       164.0         1.6953                          0
 5725       1895.0       886.0         4.9297                          1

        ocean_proximity_INLAND  ocean_proximity_ISLAND  \
 15627                       0                       0
 19881                       1                       0
 3882                        0                       0
 19289                       0                       0
 872                         0                       0
 ...                       ...                     ...
 16488                       1                       0
 80                          0                       0
 12261                       1                       0
 14308                       0                       0
 5725                        0                       0

        ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
 15627                         1                           0
 19881                         0                           0
 3882                          0                           0
 19289                         0                           0
 872                           1                           0
 ...                         ...                         ...
 16488                         0                           0
 80                            1                           0
 12261                         0                           0
 14308                         0                           1
 5725                          0                           0

 [16325 rows x 13 columns],
        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
 3000     -119.02     35.30                10.0       7397.0          1369.0
 4567     -118.26     34.06                42.0       2541.0          1282.0
 7711     -118.15     33.96                33.0       2418.0           485.0
 4464     -118.19     34.07                38.0       2965.0           665.0
 12251    -117.00     33.74                 8.0       5330.0          1529.0
 ...          ...       ...                 ...          ...             ...
 17517    -121.91     37.34                35.0       2189.0           607.0
 9498     -123.53     38.93                38.0       1706.0           355.0
 17867    -121.91     37.44                19.0       2174.0           484.0
 9086     -118.17     34.66                 9.0       1561.0           253.0
 17570    -121.93     37.32                51.0       2711.0           728.0

        population  households  median_income  ocean_proximity_<1H OCEAN  \
 3000       4611.0      1310.0         3.6369                          0
 4567       3974.0      1189.0         1.5854                          1
 7711       1397.0       477.0         3.1083                          1
 4464       2128.0       650.0         3.0241                          1
 12251      2143.0      1107.0         2.1103                          0
 ...           ...         ...            ...                        ...
 17517      1193.0       562.0         2.8042                          1
 9498        506.0       211.0         2.5625                          0
 17867      1645.0       484.0         5.0362                          1
 9086        731.0       233.0         5.7049                          0
 17570      1607.0       724.0         3.0000                          1

        ocean_proximity_INLAND  ocean_proximity_ISLAND  \
 3000                        1                       0
 4567                        0                       0
 7711                        0                       0
 4464                        0                       0
 12251                       1                       0
 ...                       ...                     ...
 17517                       0                       0
 9498                        0                       0
 17867                       0                       0
 9086                        1                       0
 17570                       0                       0

        ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
 3000                          0                           0
 4567                          0                           0
 7711                          0                           0
 4464                          0                           0
 12251                         0                           0
 ...                         ...                         ...
 17517                         0                           0
 9498                          0                           1
 17867                         0                           0
 9086                          0                           0
 17570                         0                           0

 [4082 rows x 13 columns],
 array([412500.,  95000., 203300., ...,  74000.,  81300., 400000.]),
 array([ 81600.,  87500., 285500., ..., 255100., 173200., 184700.]))

In [9]:
regressor = train_model(x_training_data, y_training_data)

In [10]:
save_model(regressor, FilePathConstants.MODEL_FILE_PATH / 'model.joblib')

## Predict

In [11]:
model = load_regressor_model(FilePathConstants.MODEL_FILE_PATH / 'old' / 'model.joblib')

In [12]:
y_predicted_train_data = predict(x_training_data, model)

In [13]:
y_predicted_test_data = predict(x_test_data, model)

In [14]:
train_error = mean_absolute_error(y_training_data, y_predicted_train_data)
test_error = mean_absolute_error(y_test_data, y_predicted_test_data)

In [15]:
print(train_error)
print(test_error)

25983.21837106039
25753.94549131189